.coupon{
    display: flex;

    height: 100px;
    border: 1px solid black;
    margin-top: 1rem;
    width: 90%;
    margin: auto;
    padding: 1rem;
    position: relative;
}
.bg-dark{
    height: 80px;
    width: 100px;
    background: rgb(139, 139, 139);
    display: grid;
    place-items: center;
}
.coupon-info{
    margin-left: 1rem;
}
.coupon-info h3{
    margin: 0;
}
.coupon-btn{

}
.coupon-code{
    width: 150px;
    height: 40px;
    border: 1px dashed green;
    position: absolute;
    right: 2rem;
    top: 1rem;
    text-align: right;
}
.coupon-button{
    width: 120px;
    height: 40px;
    background: green;
    position: absolute;
    right: 2rem;
    top: 1rem;
    display: grid;
    place-items: center;
}







@media only screen and (max-width: 600px ){
    .coupon-code{
        width: 150px;
        height: 40px;
        border: 1px dashed green;
        position: absolute;
        left: 130px;
        top: 5rem;
        text-align: right;
        display: grid;
        place-items: center;
    }
    .coupon-button{
        width: 120px;
        height: 40px;
        background: green;
        position: absolute;
        left: 130px;
        top: 5rem;
        display: grid;
        place-items: center;
    }
    .coupon-info h3{
        margin: 0;
    }
    
}
@media only screen and (max-width: 450px ){
    .coupon-code{
        width: 120px;
        height: 30px;
        left: 120px;
        margin-left: 0.5rem;
        
    }
    .coupon-button{
        width: 90px;
        height: 30px;
        background: green;
        position: absolute;
        left: 120px;
        top: 5rem;
        display: grid;
        place-items: center;
        margin-left: 0.5rem;
    }
}
