.coupon{
    height: 100px;
    border: 1px solid black;
    margin-top: 1rem;
    width: 60%;
    margin: auto;
    padding: 1rem;
    position: relative;
}
.coupon-info{
    margin-left: 1rem;
}
.coupon-info h3{
}
.coupon-btn{

}
.coupon-code{
    width: 150px;
    height: 40px;
    border: 1px dashed green;
    position: absolute;
    right: 2rem;
    top: 2rem;
    text-align: right;
}
.coupon-button{
    width: 120px;
    height: 40px;
    background: green;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: grid;
    place-items: center;
}







@media only screen and (max-width: 600px ){
    .coupon-code{
        width: 150px;
        height: 40px;
        border: 1px dashed green;
        position: absolute;
        left: 2rem;
        top: 5rem;
        text-align: right;
        display: grid;
        place-items: center;
    }
    .coupon-button{
        width: 120px;
        height: 40px;
        background: green;
        position: absolute;
        left: 2rem;
        top: 5rem;
        display: grid;
        place-items: center;
    }
    .coupon-info h3{
        margin: 0;
    }
    
}